body {
  font-family:sans-serif;
  background-color: #F5F3FF;
  padding-top: 60px !important; 

}
html {
  scroll-behavior: smooth !important;
}
.person{
 filter: drop-shadow(1px 1px 4px #6f2dbd);
}
.navbar-logo {
  max-height: 65px !important;

}
.navbar-brand{
  padding-top: 0px !important;
  padding-bottom: 0px !important;

}
/* Main Image Size */
.men-img{
max-width: 380px;
}
/* Humburger Icon Color */
.navbar-toggler-icon {
  filter: invert(0) brightness(0); /* Ensures the icon is black */
}
.main-content-div{
  margin-top: 140px;
}
.cursor{
 cursor: pointer;
}
/* From Uiverse.io by joe-herbert */ 
.cta {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  color: #7A1FA2 ;
  padding-bottom: 10px;
  transition: none; 
}

.cta::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5E17EB;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.cta:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color:  #5E17EB;
}

.cta:hover {
  transform: none;
}

/* Container Animation */
.main-content-div {
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-out forwards;
}

/* Heading & Paragraph Styling */
.heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
 
}

.para {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

/* Animation for Find Your Verse */
.ml11 {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.letters {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  animation: fadeUp 0.8s ease-out forwards;
}

/* Underline Effect */
.ml11 .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: black;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.ml11:hover .line {
  transform: scaleX(1);
}

/* Keyframes for Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.colour{
  color: #6A0DAD !important;
}
/* From Uiverse.io by krlozCJ */ 
.container {
  position: relative;
  --size-button: 40px;
  color: white;
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #191A1E;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
 
 
}

.container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.container .icon svg {
  width: 100%;
  height: 100%;
}
 /* Toggle Dark & Light Mode  */
/* From Uiverse.io by RiccardoRapelli */ 
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch #input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 0;
  overflow: hidden;
}

.sun-moon {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: yellow;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#input:checked + .slider {
  background-color: black;
}

#input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#input:checked + .slider .sun-moon {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.moon-dot {
  opacity: 0;
  transition: 0.4s;
  fill: gray;
}

#input:checked + .slider .sun-moon .moon-dot {
  opacity: 1;
}

.slider.round {
  border-radius: 34px;
}

.slider.round .sun-moon {
  border-radius: 50%;
}

#moon-dot-1 {
  left: 10px;
  top: 3px;
  position: absolute;
  width: 6px;
  height: 6px;
  z-index: 4;
}

#moon-dot-2 {
  left: 2px;
  top: 10px;
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 4;
}

#moon-dot-3 {
  left: 16px;
  top: 18px;
  position: absolute;
  width: 3px;
  height: 3px;
  z-index: 4;
}

#light-ray-1 {
  left: -8px;
  top: -8px;
  position: absolute;
  width: 43px;
  height: 43px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

#light-ray-2 {
  left: -50%;
  top: -50%;
  position: absolute;
  width: 55px;
  height: 55px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

#light-ray-3 {
  left: -18px;
  top: -18px;
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

.cloud-light {
  position: absolute;
  fill: #eee;
  animation-name: cloud-move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.cloud-dark {
  position: absolute;
  fill: #ccc;
  animation-name: cloud-move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

#cloud-1 {
  left: 30px;
  top: 15px;
  width: 40px;
}

#cloud-2 {
  left: 44px;
  top: 10px;
  width: 20px;
}

#cloud-3 {
  left: 18px;
  top: 24px;
  width: 30px;
}

#cloud-4 {
  left: 36px;
  top: 18px;
  width: 40px;
}

#cloud-5 {
  left: 48px;
  top: 14px;
  width: 20px;
}

#cloud-6 {
  left: 22px;
  top: 26px;
  width: 30px;
}

@keyframes cloud-move {
  0% {
    transform: translateX(0px);
  }

  40% {
    transform: translateX(4px);
  }

  80% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0px);
  }
}

.stars {
  transform: translateY(-32px);
  opacity: 0;
  transition: 0.4s;
}

.star {
  fill: white;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  animation-name: star-twinkle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#input:checked + .slider .stars {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

#star-1 {
  width: 20px;
  top: 2px;
  left: 3px;
  animation-delay: 0.3s;
}

#star-2 {
  width: 6px;
  top: 16px;
  left: 3px;
}

#star-3 {
  width: 12px;
  top: 20px;
  left: 10px;
  animation-delay: 0.6s;
}

#star-4 {
  width: 18px;
  top: 0px;
  left: 18px;
  animation-delay: 1.3s;
}

@keyframes star-twinkle {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
 /* Main Container Adjustment */
@media (max-width: 768px) {
  .heading {
    margin-top: -70px !important; /* Mobile ke liye extra space adjust karein */
  }
}
/* From Uiverse.io by Yaya12085 */ 


:root {
  --background-color: #ffffff;
  --text-color: #000000;

}


[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
}

body,.navbar-expand {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: var(--background-color) 0.3s, color 0.3s;
}
.gallery-item {
  text-align: center;
}
.gallery-img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  object-position: center; /* Centering the image */
}
.mood-text {
  margin-top: 8px;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.contact-header {
  background: linear-gradient(to right, #6a11cb, #a7a6f7);
  color: white;
  padding: 50px 20px;
  text-align: center;
}
.contact-header h1 {
  margin-bottom: 10px;
}
.contact-header p {
  font-size: 1.2rem;
}
.contact-details {
  background: white;
  padding: 20px;
  border-radius: 8px;
  color: black;
  border: 1px solid gray;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
.contact-form textarea {
  resize: none;
  
}
.cursor1{
  position: relative;
  width: 24em;
  margin: 0 auto;
  color: #666666;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;

  overflow: hidden;
  transform: translateY(-50%);    
}
/* Animation */
.typewriter-animation {
animation: 
  typewriter 5s steps(50) 1s 1 normal both, 
  blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
from { width: 0; }
to { width: 100%; }
}
@keyframes blinkingCursor{
from { border-right-color: rgba(255,255,255,.75); }
to { border-right-color: transparent; }
}

.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 5px;
}

@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}

.skeleton-text {
  height: 20px;
  width: 80%;
  margin: 10px auto;
}

.skeleton-button {
  height: 50px;
  width: 100%;
  border-radius: 10px;
}

.skeleton-box {
  height: 30px;
  width: 100px;
}

